.title {
    font-size: 4.5vw;
    font-weight: 700;
    color: var(--text-color);
    text-align: start;
    margin: 6vh 0;
    width: 100%;
}

.title-divider {
    margin-top: 2vw;
    height: 2px;
    background-color: black;
}

.title>* {
    display: block;
}

.title .subtitle {
    font-size: 20px;
    font-style: italic;
    letter-spacing: 4px;
    text-transform: lowercase;
}

.flame-wrapper {
    position: relative;
    margin-left: 62%;
    animation-name: flicker;
    animation-duration: 3s;
    animation-delay: 200ms;
    animation-iteration-count: infinite;
    transform-origin: center bottom;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    z-index: 0;
}

.flame-wrapper .flame {
    position: absolute;
    bottom: 0;
    border-radius: 50% 0% 50% 50%;
    transform: rotate(-45deg);
}

.flame-wrapper .flame div {
    transform: rotate(45deg);
    border-radius: 50%;
}

.flame-wrapper .flame:nth-child(1) {
    width: 100px;
    height: 100px;
    background-color: var(--brand-color);
    box-shadow: 0 0 10px 5px var(--brand-color);
}

.flame-wrapper .flame:nth-child(2) {
    left: 10px;
    width: 80px;
    height: 80px;
    background-color: #4FAAF2;
    box-shadow: 0 0 12px 6px #4FAAF2;
}

.flame-wrapper .flame:nth-child(3) {
    left: 17.5px;
    width: 65px;
    height: 65px;
    background-color: #8BC3EF;
    box-shadow: 0 0 9px 4px #8BC3EF;
}

.flame-wrapper .flame:nth-child(4) {
    left: 22.5px;
    width: 55px;
    height: 55px;
    color: var(--background-color);
    background-color: #D6E4EF;
    box-shadow: 0 0 9px 4px #D6E4EF;
}

.flame-text {
    position: absolute;
    left: 63%;
    top: 110%;
    z-index: 2;
}

@keyframes flicker {
    0% {
        transform: rotate(-1deg);
    }
    20% {
        transform: rotate(1deg);
    }
    40% {
        transform: rotate(-1deg);
    }
    60% {
        transform: rotate(1deg) scale(1.04);
    }
    80% {
        transform: rotate(-2deg) scaleY(0.9);
    }
    100% {
        transform: rotate(1deg);
    }
}