.social-wrapper {
    width          : 100%;
    justify-content: center;
    align-items    : center;
    display        : flex;
}

.social-wrapper a {
    display         : inline-block;
    width           : 90px;
    height          : 90px;
    background-color: var(--background-color);
    margin          : 10px;
    border-radius   : 30%;
    box-shadow      : 0px 20px 50px rgba(0, 0, 0, 0.05);
    color           : var(--brand-color);
    overflow        : hidden;
    position        : relative;
    text-align      : center;
}

.social-wrapper a i {
    line-height: 90px;
    font-size  : 24px;
    transition : 0.2s linear;
}

.social-wrapper a:hover i {
    transform: scale(1.3);
    color    : var(--background-color);
}

.social-wrapper a:before {
    content         : "";
    position        : absolute;
    width           : 120%;
    height          : 120%;
    background-color: var(--brand-color);
    transform       : rotate(45deg);
    left            : -110%;
    top             : 90%;
}

.social-wrapper a:hover:before {
    animation: anim 1s 1;
    top      : -10%;
    left     : -10%;
}

@keyframes anim {
    0% {
        left: -110%;
        top : 90%;
    }

    50% {
        left: 10%;
        top : -30%;
    }

    100% {
        top : -10%;
        left: -10%;
    }
}