.input-box {
    margin-top: 32px;
}

.input-box label {
    display      : block;
    color        : var(--brand-color);
    margin-bottom: 16px;
    font-size    : 18px;
    transition   : var(--transition-delay);
}

.input-box input {
    width        : 100%;
    height       : 50px;
    background   : var(--background-color);
    border       : none;
    outline      : none;
    border-radius: 40px;
    padding      : 8px 16px;
    color        : var(--brand-color);
    font-size    : 18px;
    box-shadow   :
        inset -2px -2px 6px rgba(255, 255, 255, 0.1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.8);
    transition: var(--transition-delay);
}

div[id='container'].light .input-box input {
    box-shadow:
        inset -2px -2px 6px rgba(255, 255, 255, 1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.input-box textarea {
    width        : 100%;
    height       : 140px;
    background   : var(--background-color);
    border       : none;
    outline      : none;
    border-radius: 40px;
    padding      : 16px;
    color        : var(--brand-color);
    font-size    : 18px;
    resize       : vertical;
    box-shadow   :
        inset -2px -2px 6px rgba(255, 255, 255, 0.1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.8);
    transition: var(--transition-delay);
}

div[id='container'].light .input-box textarea {
    box-shadow:
        inset -2px -2px 6px rgba(255, 255, 255, 1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.1);
}