.css-typing {
    text-align: center;
    position  : absolute;
    transform : translate(-50%, -50%);
    transition: 0.3s linear;
}

.css-typing p {
    border-right  : 0.5em solid var(--text-color);
    font-weight   : 700;
    color         : var(--text-color);
    text-align    : center;
    white-space   : nowrap;
    overflow      : hidden;
    margin        : 0 auto;
    text-transform: uppercase;
    transition    : 0.3s linear;
}

.css-typing p:nth-child(1) {
    width                      : 18em;
    opacity                    : 0;
    -webkit-animation          : type 2s steps(40, end);
    animation                  : type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode        : forwards;
}

.css-typing p:nth-child(2) {
    width                      : 15em;
    opacity                    : 0;
    -webkit-animation          : type2 2s steps(40, end);
    animation                  : type2 2s steps(40, end);
    -webkit-animation-delay    : 2s;
    animation-delay            : 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode        : forwards;
}

.css-typing p:nth-child(3) {
    width                      : 21.5em;
    opacity                    : 0;
    -webkit-animation          : type3 2s steps(40, end), blink .5s step-end infinite alternate;
    animation                  : type3 2s steps(40, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay    : 4s;
    animation-delay            : 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode        : forwards;
}

.css-typing .icon-group {
    display        : flex;
    margin         : auto;
    width          : 50%;
    justify-content: space-evenly;
}

.css-typing .icon {
    display   : inline-block;
    margin    : auto;
    transition: 0.3s linear;
    margin-top: 8px;
}

.css-typing .icon path {
    fill                       : transparent;
    stroke-width               : 10;
    stroke                     : var(--text-color);
    stroke-dasharray           : 1560;
    stroke-dashoffset          : 0;
    opacity                    : 0;
    -webkit-animation          : animate-icon 2s linear forwards;
    animation                  : animate-icon 2s linear forwards;
    -webkit-animation-delay    : 6s;
    animation-delay            : 6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode        : forwards;
}

@keyframes animate-icon {
    0% {
        stroke-dashoffset: 0;
        opacity          : 0.5;
    }

    40% {
        stroke-dashoffset: 1560;
        opacity          : 1;
    }

    80% {
        stroke-dashoffset: 3120;
        fill             : transparent;
        opacity          : 1;
    }

    100% {
        stroke-dashoffset: 3120;
        fill             : var(--text-color);
        opacity          : 1;
    }
}

@-webkit-keyframes animate-icon {
    0% {
        stroke-dashoffset: 0;
        opacity          : 0.5;
    }

    40% {
        stroke-dashoffset: 1560;
        opacity          : 1;
    }

    80% {
        stroke-dashoffset: 3120;
        fill             : transparent;
        opacity          : 1;
    }

    100% {
        stroke-dashoffset: 3120;
        fill             : var(--text-color);
        opacity          : 1;
    }
}

@keyframes type {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid var(--text-color);
    }

    100% {
        opacity: 1;
        border : none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid var(--text-color);
    }

    100% {
        opacity: 1;
        border : none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid var(--text-color);
    }

    100% {
        opacity: 1;
        border : none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    99.9% {
        border-right: .15em solid var(--text-color);
    }

    100% {
        opacity: 1;
        border : none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media only screen and (max-width: 900px) {
    .css-typing {
        top : 25%;
        left: 50%;
    }

    .css-typing p {
        font-size: 1em;
    }

    .css-typing .icon {
        width: 1em;
    }
}

@media only screen and (min-width: 900px) {
    .css-typing {
        top : 50%;
        left: 25%;
    }

    .css-typing p {
        font-size: 2em;
    }

    .css-typing .icon {
        width: 2em;
    }
}