.about-card {
    padding: 2.2vw;
    margin: 0;
    background-color: #FFE8E8;
    position: absolute;
}

.about-p {
    font-size: 1.05vw;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03vw;
    color: #6D6D6D;
}

.about-card-title {
    color: #7E7C7C;
    opacity: 0.6;
    mix-blend-mode: normal;
    letter-spacing: 0.35vw;
    font-size: 0.9vw;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

.about-card-value {
    margin-top: 0.15vw;
    font-style: normal;
    font-weight: normal;
    font-size: 1.05vw;
    letter-spacing: 0.03vw;
    color: #2E2E2E;
}