.project-card-container {
    display: flex;
}

.project-holder {
    background-color: var(--transparent-color);
    mix-blend-mode: normal;
    justify-content: center;
    align-items: center;
    display: flex;
}

.project-card-title {
    margin-top: 6vw;
    font-size: 3.2vw;
    font-weight: bold;
    font-style: normal;
    color: #999999;
}

.project-card-description {
    font-size: 1vw;
    margin-top: 1.75vw;
    letter-spacing: 0.04vw;
    color: #6D6D6D;
    font-weight: normal;
}

.bold {
    font-weight: 800;
}