.work-card-container {
    cursor: pointer;
}

.work-title {
    font-size: 1.7vw;
    line-height: 2vw;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02vw;
    color: #6d6d6d;
}

.work-period {
    color: #7e7c7c;
    opacity: 0.6;
    mix-blend-mode: normal;
    font-size: 1vw;
    text-transform: uppercase;
}

.work-description {
    font-size: 1vw;
    line-height: 2vw;
    letter-spacing: 0.02vw;
    color: #6d6d6d;
    font-weight: normal;
}

.work-pill {
    background-color: #EDEDED;
    border-radius: 2vw;
    padding: 0.4vw 0.8vw;
    font-size: 0.65vw;
    font-weight: 500;
    letter-spacing: 0.02vw;
    color: #968A8A;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}