section[id='Project'] .wrapper {
    overflow: auto;
}

.project-col .description {
    position: absolute;
    top: 0;
    margin-top: 20px;
    color: var(--text-color);
    padding-right: 20px;
    font-size: 1em;
}

.project-col .description li {
    list-style: circle;
    text-align: start;
    padding: 4px 0;
}

.project-col .description .text-link {
    display: inline;
    font-style: italic;
}

.project-col .description .link {
    border-radius: 5px;
    margin: auto;
    color: var(--brand-color);
    transition: 0.4s ease-in;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.project-col .description .link:hover {
    background-color: var(--brand-color);
    color: var(--background-color);
    border-radius: 10px;
    padding: 0 8px;
    box-shadow: 0 0 5px var(--brand-color), 0 0 10px var(--brand-color), 0 0 20px var(--brand-color);
}

@media only screen and (max-width: 1200px) {
    .project-col {
        display: flex;
        flex-direction: column;
    }
    .project-col .description {
        font-size: 0.875em;
    }
}

@media only screen and (min-width: 1200px) {
    .project-col {
        display: flex;
    }
}