.progressbar {
    background     : var(--background-color);
    position       : absolute;
    width          : 100%;
    height         : 100vh;
    z-index        : 2;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.progressbar .text {
    color: var(--text-color);
}

/* .progressbar .text span:nth-child(2) {
    animation: loading 0.5s linear infinite;
}

.progressbar .text span:nth-child(3) {
    animation: loading 0.5s linear infinite;
    animation-delay: 0.5s;
}

.progressbar .text span:nth-child(4) {
    animation: loading 0.5s linear infinite;
    animation-delay: 1s;
}

@keyframes loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */