section[id='Experience'] {
    justify-content: start;
    flex-direction: column;
}

.experience-content {
    cursor: pointer;
}

section[id='Experience'] .wrapper {
}

section[id='Experience'] .wrapper .content {
    padding: 16px 32px;
    transition: 200ms linear;
    cursor: pointer;
}

section[id='Experience'] .wrapper .content:hover {
    border-radius: 20px;
    transform: translateY(-4px);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
}

section[id='Experience'] .wrapper .content .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
    text-align: end;
}

section[id='Experience'] .wrapper .content .name p:nth-child(1) {
    padding-bottom: 16px;
    color: #3E41A8;
    font-weight: 600;
    font-size: 2em;
}

section[id='Experience'] .wrapper .content .name p:nth-child(2) {
    color: var(--text-color);
    font-size: 0.75em;
}

section[id='Experience'] .wrapper .content .cocobot img {
    max-width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    transition: 0.3s linear;
}

section[id='Experience'] .wrapper .content .cocobot .date {
    text-align: end;
    color: var(--brand-color);
}

section[id='Experience'] .wrapper .content .cocobot .job {
    padding: 0 32px;
    transition: 0.3s linear;
}

section[id='Experience'] .wrapper .content .cocobot .job ul li {
    padding: 8px 0;
    text-align: justify;
    list-style: circle;
}

/* Small screen */

@media only screen and (max-width: 1200px) {
    section[id='Experience'] .wrapper .content .cocobot .job {
        padding-top: 16px;
    }
    section[id='Experience'] .wrapper .content {
        width: 90%;
    }
}

/* Large screen */

@media only screen and (min-width: 1200px) {
    section[id='Experience'] .wrapper .content .cocobot {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s linear;
    }
    section[id='Experience'] .wrapper .content {
        width: 70%;
    }
}