.skills {
    justify-content: space-evenly;
    align-items: center;
    display: block;
}

.skills .heading {
    padding: 32px;
}

.skills .heading span {
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid var(--text-color);
    display: inline;
    cursor: default;
}

.skills .row {
    flex-direction: column;
    color: var(--text-color);
    margin: 16px 0;
}

.skills .row div {
    border-radius: 50%;
    padding: 16px;
    /* box-shadow   :
        inset -1px -1px 3px rgba(255, 255, 255, 0.1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.5); */
    cursor: default;
}

.skills .row div:hover {
    text-shadow: 0 0 10px var(--brand-color), 0 0 30px var(--brand-color), 0 0 50px var(--brand-color);
}

.skills ul {
    display: flex;
    margin: 16px;
    list-style: none;
    color: var(--text-color);
    justify-content: center;
}

.skills ul li {
    margin: 0 40px;
}