.keyboard-wrapper {
    position  : absolute;
    top       : 55%;
    right     : 45%;
    padding   : 16px;
    transform : translate(-50%, -50%) rotateZ(45deg);
    background: var(--background-color);
    box-shadow:
        -2px -2px 6px rgba(255, 255, 255, 0.025),
        2px 2px 6px rgba(0, 0, 0, 0.5);
    transition: var(--transition-delay);
}

div[id='container'].light .keyboard-wrapper {
    box-shadow:
        -5px -5px 15px rgba(255, 255, 255, 0.8),
        5px 5px 10px rgba(0, 0, 0, 0.1);
}

.keyboard-wrapper .keys {
    display        : flex;
    justify-content: center;
}

.keyboard-wrapper .keys input[id='space'] {
    height   : 50px;
    min-width: 400px;
}

.keyboard-wrapper .keys input {
    height        : 50px;
    min-width     : 50px;
    padding       : 10px;
    outline       : none;
    border        : none;
    margin        : 10px;
    font-size     : 20px;
    color         : var(--text-color);
    text-transform: uppercase;
    background    : var(--background-color);
    box-shadow    :
        -2px -2px 4px rgba(255, 255, 255, 0.025),
        2px 2px 6px rgba(0, 0, 0, 0.5);
    transition: var(--transition-delay);
}

div[id='container'].light .keyboard-wrapper .keys input {
    box-shadow:
        -5px -5px 15px rgba(255, 255, 255, 0.8),
        5px 5px 10px rgba(0, 0, 0, 0.1);
}

.keyboard-wrapper .keys input:active {
    color: var(--brand-color);
    box-shadow:
        inset -2px -2px 4px rgba(255, 255, 255, 0.025),
        inset 2px 2px 6px rgba(0, 0, 0, 0.2);
    transition: var(--transition-delay);
}

div[id='container'].light .keyboard-wrapper .keys input:active {
    box-shadow:
        inset -2px -2px 6px rgba(255, 255, 255, 1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.keyboard-wrapper .keys input:hover {
    text-shadow:
        0 0 10px var(--brand-color),
        0 0 40px var(--brand-color),
        0 0 80px var(--brand-color);
}

/* .keyboard-wrapper .keys input[value='t'] {
    animation: key-pressed 200ms linear forwards;
}

.keyboard-wrapper .keys input[value='u'] {
    animation      : key-pressed 200ms linear forwards;
    animation-delay: 200ms;
}

.keyboard-wrapper .keys input[value='n'] {
    animation      : key-pressed 200ms linear forwards;
    animation-delay: 400ms;
}

.keyboard-wrapper .keys input[value='g'] {
    animation      : key-pressed 200ms linear forwards;
    animation-delay: 600ms;
}

.keyboard-wrapper .keys input[id='space'] {
    animation      : key-pressed 200ms linear forwards;
    animation-delay: 800ms;
}

.keyboard-wrapper .keys input[value='d'] {
    animation      : key-pressed 200ms linear forwards;
    animation-delay: 1s;
}

.keyboard-wrapper .keys input[value='i'] {
    animation      : key-pressed 200ms linear forwards;
    animation-delay: 1.2s;
}

.keyboard-wrapper .keys input[value='n'] {
    animation      : key-pressed 200ms linear forwards;
    animation-delay: 1.4s;
}

.keyboard-wrapper .keys input[value='g'] {
    animation      : key-pressed 200ms linear forwards;
    animation-delay: 1.6s;
} */

/* @keyframes key-pressed {
    0% {
        box-shadow:
            -2px -2px 4px rgba(255, 255, 255, 0.025),
            2px 2px 6px rgba(0, 0, 0, 0.5);
    }

    50% {
        box-shadow:
            inset -2px -2px 4px rgba(255, 255, 255, 0.025),
            inset 2px 2px 6px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow:
            -2px -2px 4px rgba(255, 255, 255, 0.025),
            2px 2px 6px rgba(0, 0, 0, 0.5);
    }
} */