.banner {
    overflow: hidden;
}

.banner video {
    width         : 100%;
    height        : 100%;
    position      : absolute;
    top           : 0;
    left          : 0;
    object-fit    : cover;
    pointer-events: none;
    z-index       : -1;
}

.banner .content {
    z-index  : 1;
    margin   : 0 auto;
    max-width: 1000px;
}