.action-button {
    margin-top: 2vh;
    outline: none;
    color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: normal;
    background-color: #FFE8E8;
    box-shadow: none;
    cursor: pointer;
    /* overflow: hidden; */
    /* transition: 0.6s; */
    text-align: center;
    padding: 2.5vw;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.85vw;
    line-height: 2vh;
    white-space: nowrap;
}

/* .action-button:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 40%;
    left: 0;
    top: 0;
    opacity: 0.5s;
    filter: blur(30px);
    transform: translateX(-200px) skewX(-15deg);
}

.action-button:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30%;
    left: 30%;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-30%) scaleX(-15deg);
}

.action-button:hover {
    background: #4e4e4e;
    color: white;
}

.action-button:hover:before {
    transform: translateX(100%) skewX(-15deg);
    opacity: 0.6;
    transition: 0.7s;
}

.action-button:hover:after {
    transform: translateX(100%) skewX(-15deg);
    opacity: 1;
    transition: 0.7s;
} */