a[id='creative-btn'] {
    /* width          : 80px;
    line-height    : 80px;
    display        : block;
    text-align     : center; */
    /* text-transform : uppercase; */
    /* border-radius  : 50%; */
    position       : absolute;
    transform      : translate(-50%, -50%);
    top            : 8%;
    left           : 50%;
    color          : var(--brand-color);
    padding        : 16px 24px;
    text-decoration: none;
    letter-spacing : 2px;
    font-family    : 'Space Mono', monospace;
    font-size      : 24px;
    box-shadow     : 0 20px 50px rgba(0, 0, 0, .5);
    text-shadow    : 0 0 10px var(--brand-color);
    overflow       : hidden;
    transition     : var(--transition-delay);
}

div[id='container'].light a[id='creative-btn'] {
    box-shadow : 0 0px 40px rgba(255, 255, 255, 0.5);
    text-shadow: none;
}

div[id='container'].light a[id='creative-btn']:hover {
    box-shadow:
        0 0 10px var(--brand-color),
        0 0 40px var(--brand-color),
        0 0 80px var(--brand-color);
}

a[id='creative-btn'] span:nth-child(1) {
    position         : absolute;
    top              : 0;
    left             : 0;
    width            : 100%;
    height           : 2px;
    background       : linear-gradient(to right, rgba(255, 255, 255, 0), var(--brand-color));
    -webkit-animation: animate-1 1s linear infinite;
    animation        : animate-1 1s linear infinite;
    transition       : var(--transition-delay);
}

a[id='creative-btn'] span:nth-child(2) {
    position               : absolute;
    top                    : 0;
    right                  : 0;
    width                  : 2px;
    height                 : 100%;
    background             : linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--brand-color));
    -webkit-animation      : animate-2 1s linear infinite;
    animation              : animate-2 1s linear infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay        : 0.5s;
    transition             : var(--transition-delay);
}

a[id='creative-btn'] span:nth-child(3) {
    position         : absolute;
    bottom           : 0;
    left             : 0;
    width            : 100%;
    height           : 2px;
    background       : linear-gradient(to left, rgba(255, 255, 255, 0), var(--brand-color));
    -webkit-animation: animate-3 1s linear infinite;
    animation        : animate-3 1s linear infinite;
    transition       : var(--transition-delay);
}

a[id='creative-btn'] span:nth-child(4) {
    position               : absolute;
    top                    : 0;
    left                   : 0;
    width                  : 2px;
    height                 : 100%;
    background             : linear-gradient(to top, rgba(255, 255, 255, 0), var(--brand-color));
    -webkit-animation      : animate-4 1s linear infinite;
    animation              : animate-4 1s linear infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay        : 0.5s;
    transition             : var(--transition-delay);
}

a[id='creative-btn']:hover {
    color     : var(--background-color);
    background: var(--brand-color);
    box-shadow:
        0 0 10px var(--brand-color),
        0 0 40px var(--brand-color),
        0 0 80px var(--brand-color);
    transition: var(--transition-delay);
}

a[id='creative-btn']:hover span:nth-child(1) {
    display: none;
}

a[id='creative-btn']:hover span:nth-child(2) {
    display: none;
}

a[id='creative-btn']:hover span:nth-child(3) {
    display: none;
}

a[id='creative-btn']:hover span:nth-child(4) {
    display: none;
}

@-webkit-keyframes animate-1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes animate-1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@-webkit-keyframes animate-2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes animate-2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

@-webkit-keyframes animate-3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate-3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes animate-4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate-4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}