.input-box {
    margin-top: 32px;
}

.input-box input[type='submit'] {
    color     : var(--brand-color);
    margin-top: 16px;
    box-shadow:
        -2px -2px 6px rgba(255, 255, 255, 0.1),
        2px 2px 6px rgba(0, 0, 0, 0.8);
    transition: var(--transition-delay);
}

div[id='container'].light .input-box input[type='submit'] {
    box-shadow:
        -2px -2px 6px rgba(255, 255, 255, 1),
        2px 2px 6px rgba(0, 0, 0, 0.1);
}

.input-box input[type='submit']:active {
    margin-top: 16px;
    opacity   : 0.5;
    box-shadow:
        inset -2px -2px 6px rgba(255, 255, 255, 0.1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.8);
    transition: var(--transition-delay);
}

div[id='container'].light .input-box input[type='submit']:active {
    opacity: 0.5;
    box-shadow:
        inset -2px -2px 6px rgba(255, 255, 255, 1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.1);
}