button[id='theme-toggle'] {
    position     : absolute;
    transform    : translate(-50%, -50%);
    top          : 28%;
    left         : 50%;
    width        : 64px;
    height       : 64px;
    outline      : none;
    border       : none;
    display      : block;
    border-radius: 50%;
    cursor       : pointer;

    background: var(--background-color);
    box-shadow:
        -1px -1px 3px rgba(255, 255, 255, 0.1),
        2px 2px 6px rgba(0, 0, 0, 0.3);
    transition: var(--transition-delay);
}

div[id='container'].light button[id='theme-toggle'] {
    box-shadow:
        -1px -1px 3px rgba(255, 255, 255, 0.3),
        2px 2px 6px rgba(0, 0, 0, 0.1);
}

button[id='theme-toggle'] .fa {
    font-size : 24px;
    color     : var(--brand-color);
    transition: var(--transition-delay);
}

/* div[id='container'].light button[id='theme-toggle'] .fa {
    font-size: 24px;
    color    : #ffff00;
} */

button[id='theme-toggle']:hover .fa {
    color      : var(--brand-color);
    text-shadow: 0 0 15px var(--brand-color);
    transition : var(--transition-delay);
}

/* div[id='container'].light button[id='theme-toggle']:hover .fa {
    color      : #ffff00;
    text-shadow: none;
} */

/* button[id='theme-toggle']:hover {
    box-shadow:
        -1px -1px 3px rgba(255, 255, 255, 0.1),
        2px 2px 6px rgba(0, 0, 0, 0.8),
        inset -2px -2px 10px rgba(255, 255, 255, 0.05),
        inset 2px 2px 10px rgba(0, 0, 0, 0.8);
} */

button[id='theme-toggle']:active {
    box-shadow:
        inset -2px -2px 10px rgba(255, 255, 255, 0.05),
        inset 2px 2px 6px rgba(0, 0, 0, 0.3);
    transition: var(--transition-delay);
}

div[id='container'].light button[id='theme-toggle']:active {
    box-shadow:
        inset -2px -2px 10px rgba(255, 255, 255, 0.5),
        inset 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* input[id='theme-toggle'] {
    height            : 80px;
    width             : 80px;
    -webkit-appearance: none;
    position          : absolute;
    transform         : translate(100%, -100%);
    bottom            : 70%;
    left              : 70%;
    border-radius     : 50%;
    outline           : none;
    display           : flex;
    justify-content   : center;
    align-items       : center;
    cursor            : pointer;

    background: var(--background-color);
    border    : 8px solid var(--background-color);
    box-shadow:
        -8px -8px 15px rgba(255, 255, 255, 0.05),
        20px 20px 20px rgba(0, 0, 0, 0.3);
    transition: var(--transition-delay);
}

div[id='container'].light input[id='theme-toggle'] {
    box-shadow:
        -8px -8px 15px rgba(255, 255, 255, 0.5),
        10px 10px 10px rgba(0, 0, 0, 0.1);
}

input[id='theme-toggle']:after {
    font-family: 'Font Awesome\ 5 Free';
    content    : '\f0eb';
    font-size  : 24px;
    color      : #00fff1;
    transition : var(--transition-delay);
}

input[type='checkbox']:checked:after {
    color: #ffff26;
}

input[id='theme-toggle']:checked {
    box-shadow:
        -8px -8px 15px rgba(255, 255, 255, 0.05),
        20px 20px 20px rgba(0, 0, 0, 0.3),
        inset -8px -8px 15px rgba(255, 255, 255, 0.05),
        inset 20px 20px 20px rgba(0, 0, 0, 0.3);
    transition: var(--transition-delay);
}

div[id='container'].light input[id='theme-toggle']:checked {
    box-shadow:
        -8px -8px 15px rgba(255, 255, 255, 0.5),
        10px 10px 10px rgba(0, 0, 0, 0.1),
        inset -8px -8px 15px rgba(255, 255, 255, 0.5),
        inset 10px 10px 10px rgba(0, 0, 0, 0.1);
} */