.link {
    cursor: pointer;
}

.nav-btn {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.95vw;
    line-height: 2vh;
    font-style: normal;
    letter-spacing: 0.4vw;
}