section[id='Home'] {
    background: var(--background-color);
    justify-content: center;
    align-items: center;
}

section[id='Home'] svg[id='a379d9a4-f6fe-40d1-beba-a0916853bd02'] {
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.3s linear;
    max-width: 90%;
    transition: 0.3s linear;
}

.home-content {
    font-size: 50px;
    padding: 0 64px;
}

@media only screen and (max-width: 900px) {
    section[id='Home'] svg[id='a379d9a4-f6fe-40d1-beba-a0916853bd02'] {
        left: 50%;
        top: 50%;
    }
}

@media only screen and (min-width: 900px) {
    section[id='Home'] svg[id='a379d9a4-f6fe-40d1-beba-a0916853bd02'] {
        left: 70%;
        top: 50%;
    }
}