section[id='Contact'] {
    justify-content: space-between;
    background: var(--background-color);
    padding: 0;
}

.contact-container {
    padding: 0 64px;
}

.contact-content {
    justify-content: space-between;
    display: flex;
}

.contact-text-container {
    width: 48%;
}

.contact-email {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    .contact-content {
        display: flex;
    }
}