.footer-container {
    background: rgba(216, 216, 216, 0.22);
    mix-blend-mode: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    padding: 3vw;
    font-size: 1vw;
    font-weight: normal;
    font-style: normal;
    color: #6d6d6d;
    opacity: 0.8;
    mix-blend-mode: normal;
    letter-spacing: 0.04vw;
}