.contact-form {
    width: 48%;
}

.contact-form .form-row {
    display: flex;
    justify-content: space-between;
}

.contact-form input {
    outline: none;
    padding: 16px;
    border: 2px solid #4e4e4e;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
}

.contact-form input[id='subject'] {
    margin: 32px 0;
}

.contact-form .form-row input[type='text'] {
    width: 48%;
}

.contact-form .form-row input[type='email'] {
    width: 48%;
}

.contact-form textarea {
    width: 100%;
    height: 140px;
    outline: none;
    padding: 16px;
    resize: vertical;
    border: 2px solid #4e4e4e;
    box-sizing: border-box;
    background-color: transparent;
}

.contact-form input[type='submit'] {
    margin-top: 32px;
    color: black;
    border: 2px solid #4e4e4e;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    overflow: hidden;
    transition: 0.6s;
}

.contact-form input[type='submit']:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5s;
    filter: blur(30px);
    transform: translateX(-200px) skewX(-15deg);
}

.contact-form input[type='submit']:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30%;
    height: 100%;
    left: 30%;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-30%) scaleX(-15deg);
}

.contact-form input[type='submit']:hover {
    background: #4e4e4e;
    color: white;
}

.contact-form input[type='submit']:hover:before {
    transform: translateX(100%) skewX(-15deg);
    opacity: 0.6;
    transition: 0.7s;
}

.contact-form input[type='submit']:hover:after {
    transform: translateX(100%) skewX(-15deg);
    opacity: 1;
    transition: 0.7s;
}