.neumorphism-form {
    position     : relative;
    padding      : 40px 40px 30px;
    width        : 40%;
    background   : var(--background-color);
    border-radius: 10px;
    text-align   : center;
    box-shadow   :
        -5px -5px 10px rgba(255, 255, 255, 0.05),
        5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: var(--transition-delay);
}

div[id='container'].light .neumorphism-form {
    box-shadow:
        -5px -5px 15px rgba(255, 255, 255, 0.8),
        5px 5px 10px rgba(0, 0, 0, 0.1);
}

.neumorphism-form h2 {
    color         : var(--brand-color);
    font-weight   : 700;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.neumorphism-form .input {
    margin    : 40px 0;
    text-align: left;
}

.neumorphism-form .input .row {
    display        : flex;
    justify-content: space-between;
}

.neumorphism-form .input .row>*:nth-child(1) {
    width: 48%;
}

.neumorphism-form .input .row>*:nth-child(2) {
    width: 48%;
}