html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  --background-color: #ffffff;
  --text-color: #999999;
  --cover-color: #d8d8d8;
  --transparent-color: #d8d8d838;
  --transition-delay: 1s;
}

span {
  background-color: transparent;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

body {
  overscroll-behavior-y: none;
}

div[id='container'] {
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--background-color);
}

div {
  background-color: transparent;
  z-index: 1;
}

p {
  background-color: transparent;
}

section {
  min-height: 100vh;
  padding: 0 8vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}